{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link id="css" rel="stylesheet" href="{% static 'light_theme.css' %}">
	<title>About Me</title>
</head>
<body>
	<div class="container-fluid">
		<div class="col-sm-12">
			<button type="button" id= "light_button" class="btn btn-light">Light</button>
			<button type="button" id= "dark_button" class="btn btn-dark">Dark</button>
			<br>
			<br>
			<img src="{% static 'Assets/foto_profil.jpg' %}" id="foto_profil" class="img-fluid" style="width: 200px;">
			<br>
			<br>
			<table style="width: 100%;">
				<tr>
					<td style="width: 150px">Nama</td>
					<td>: I Made Krisna Dwitama</td>
				</tr>
				<tr>
					<td style="width: 150px">NPM</td>
					<td>: 1806133881</td>
				</tr>
			</table>
			<div id = "accordion">
				<button class="accordion_header" style="margin-top: 30px;">Aktivitas Saat Ini</button>
				<div class="panel">
					<ul class="accordion_content">
						<li>Anggota Divisi Penelitian dan Pengembangan KMHD UI 2019</li>
						<li>Penanggung jawab FPT KMHD UI 2019</li>
						<li>Bendahara TOS UI Bali 2020</li>
					</ul>
				</div>
				<button class="accordion_header">Pengalaman Organisasi/Kepanitiaan</button>
				<div class="panel">
					<ul class="accordion_content">
						<li>Wakil penanggung jawab 1 divisi marketing TOS UI Bali 2019</li>
					</ul>
				</div>
				<button class="accordion_header">Prestasi</button>
				<div class="panel">
					<ul class="accordion_content">
						<li>Top 16 TOKI 2018</li>
						<span>TOKI stands for Tim Olimpiade Komputer Indonesia or Indonesian Computer Olympiad Team</span>
						<li>Silver medal in Indonesian National Science Olympiad in Informatics 2017</li>
						<li>3rd Winner in Informatics Logical Programming Competition at Surabaya University 2017</li>
						<li>1st Winner in Information Technology Creative Competition at Udayana University 2016</li>
						<li>Bronze medal in the Indonesian National Science Olympiad in Informatics 2016</li>
					</ul>
				</div>
			</div>
			<br>
			<a href="/"><button id="button_link" type="button" class="btn btn-primary">Home</button></a>
			<a href="/registration"><button id="button_link" type="button" class="btn btn-primary">Registration</button></a>
			<br>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="{% static 'story.js' %}"></script>
</body>
</html>