{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link id= "css" rel="stylesheet" href="{% static 'light_theme.css' %}">
	<title>Status Message Form</title>
</head>
<body>
	<div class="container-fluid">
		<div class="col-sm-12">
			<h1 style="text-align: center;">Hello, apa kabar?</h1>
			<br>
			<button type="button" id= "light_button" class="btn btn-light">Light</button>
			<button type="button" id= "dark_button" class="btn btn-dark">Dark</button>
			<br>
			<br>
			<form action="/" method="POST">
			    {% csrf_token %}
			    <table>
			    {{ message_form.as_table }}
			    </table>
			    <br>
			    <input type="submit" value="Submit">
			</form>
			<br>
			<h2>Message List :</h2>
			<br>
			{% for messages in message_list %}
			<table class = "data">
				<tr>
					<th>Message Number : {{ forloop.counter }}</th>
				</tr>
			</table>
			<table class = "data">
				<tr style="width: 100%;">
					<td style="width: 200px">Message</td>
					<td style="width: 750px">: {{ messages.message }}</td>
					<td style="width: 100%; float: right; text-align: right;">{{ messages.time }}</td>
				</tr>
			</table>
			<br>
			{% endfor %}
			<a href="/about_me"><button type="button" id = "button_link" class="btn btn-primary">About Me</button></a>
			<a href="/registration"><button type="button" id = "button_link" class="btn btn-primary">Registration</button></a>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'story.js' %}"></script>
</body>
</html>