{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link id="css" rel="stylesheet" href="{% static 'light_theme.css' %}">
	<title>Notebook</title>
</head>
<body onload="notebook_data()">
	<div class="container-fluid">
		<div class="col-sm-12">
			<h1 style="width: 100%; text-align: center; margin-bottom: 35px;">Daftar Notebook</h1>
			<table id="listnotebook" style="width: 100%;">
				<thead>
					<tr style="outline: 1px solid black;">
						<th style="outline: 1px solid black; text-align: center;" width="40%;">Nama</th>
						<th style="outline: 1px solid black; text-align: center;" width="40%;">Deskripsi</th>
						<th style="outline: 1px solid black; text-align: center;">Harga</th>
						<th style="outline: 1px solid black; text-align: center;">Wishlist</th>
					</tr>
				</thead>
				<tbody id="isi">
				</tbody>
			</table>
			<br>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="{% static 'story.js' %}"></script>
	<script>
		function notebook_data(){
			$.ajax({
				url:"/static/notebook.json",
				dataType:"json",
				success: function(result){
					for(var i = 0; i < 10; i++){
						$("#isi").append("<tr>")
						$("#isi").append("<td style='outline: 1px solid black; text-align: center;'>" + result[i]["name"] + "</td>");
						$("#isi").append("<td style='outline: 1px solid black; text-align: center;'>" + result[i]["details"] + "</td>");
						$("#isi").append("<td style='outline: 1px solid black; text-align: center;'>" + result[i]["price"] + "</td>");
						$("#isi").append("<td style='outline: 1px solid black; text-align: center;'><button type='button' class='btn btn-sm btn-primary'>add to wishlist</button></td>");
						$("#isi").append("</tr>")
					}
				}
			});
		}
	</script>
</body>
</html>