{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link id= "css" rel="stylesheet" href="{% static 'light_theme.css' %}">
	<title>Registration Form</title>
</head>
<body>
	<div class="container-fluid">
		<div class="col-sm-12">
			<h1 style="text-align: center;">Hello, apa kabar?</h1>
			<br>
			<button type="button" id= "light_button" class="btn btn-light">Light</button>
			<button type="button" id= "dark_button" class="btn btn-dark">Dark</button>
			<br>
			<br>
			<form id="registration_form" method="POST">
			    {% csrf_token %}
			    <table>
			    	{{ registration_form.as_table }}
			    </table>
			    <br>
			    <input type="submit" value="Submit">
			</form>
			<br>
			<a href="/"><button type="button" id = "button_link" class="btn btn-primary">Home</button></a>
			<a href="/about_me"><button type="button" id = "button_link" class="btn btn-primary">About Me</button></a>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'story.js' %}"></script>
</body>
</html>